/Navigation-Understanding-Nikesh/nbproject/private/
/Navigation-Understanding-Nikesh/dist/
/Navigation-Understanding-Nikesh/build/
/Navigation-Understanding-Nikesh/target/
/Navigation-Understanding-Nikesh/nbproject/
/AngularUIComponents/target/
/Buddha-erp/target/